@font-face {
font-family: "Dosia";
src: url("../fonts/Dosis-Regular.ttf") format("truetype");
}



footer {
  width: 80%;
  margin-bottom: 20px;

}
sup {
  text-decoration: none !important;
}

h5 {
  text-decoration: underline;

}



.red {
  color: red;
}



.blue {
  color: deepskyblue;
}

.inside-list {
  padding-left: 20px;
  text-align: left;
}

.pricing-extras p {
  margin-bottom: 35px;
}

.pricing-disclaimer p {
  font-style: italic;
}

.price-options p
{
  font-size: italic;
  font-size: 0.8em;
  margin-bottom: 3px;
}

/* .inside-list li {
  list-style-type: none;
  position: relative;
}

.inside-list li::before {
  content: "\2219";
  position: absolute;
  line-height: 0;
  top: 0.3em;
  font-size: 2.5em;
  left: 5%;

} */

.Dosia hr {
  width: 15%;
  border: none;
  height: 3px;
}

footer h3 {
  font-family: "Dosia";
  font-size: 22px;
}

footer p
{
  font-family: "Dosia";
  color: grey;
  margin-bottom: 3px;

  width: 70%

}

hr.rainbow2{
    background: #0000ff;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0000ff), color-stop(25%,#00ffff), color-stop(50%,#00ff00), color-stop(75%,#ff0000), color-stop(100%,#ff0000));
    background: -webkit-linear-gradient(-45deg, #0000ff 0%,#00ffff 25%,#00ff00 50%,#ffff00 75%,#ff0000 100%);
    background: -moz-linear-gradient(-45deg, #0000ff 0%, #00ffff 25%, #00ff00 50%, #ffff00 75%, #ff0000 100%);
    background: -o-linear-gradient(-45deg, #0000ff 0%,#00ffff 25%,#00ff00 50%,#ffff00 75%,#ff0000 100%);
    background: -ms-linear-gradient(-45deg, #0000ff 0%,#00ffff 25%,#00ff00 50%,#ffff00 75%,#ff0000 100%);
    background: linear-gradient(-45deg, #0000ff 0%,#00ffff 25%,#00ff00 50%,#ffff00 75%,#ff0000 100%);
}

.img-contain {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}

.img-contain img {
  transition: transform .8s ease;
}

.img-contain:hover img {
  transform: scale(1.2);
}

.fa {
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: grey;
    margin-left: 6px;
}

.f-icon {
  margin-left: 0px;
}

.Dosia  {
  font-family: "Dosia" !important;
  overflow: hidden;
}

.footer-hr {
  width: 94%;
   border: 1px solid black;
}
